<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/mundana.css"}}" />
    {{!--      adding custom font--}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    {{!-- Ghost outputs important style and meta data with this tag --}}
    <script src="{{asset "js/jquery.min.js"}}"></script>  
    {{ghost_head}}
</head>

<body class="{{body_class}}">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="container">
      
        {{{body}}}
        
        {{!-- Subscribe --}}
        {{> "subscribe-form"}}      
      
        {{!-- Footer at the very bottom --}}
        <div class="footer" style="text-align:center;">
{{!--       		<p class="pull-left"> --}}
            <p>
      			 <a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
      		</p>
{{!--       		<p class="pull-right"> --}}
{{!--       			 "Mundana" {{t "Theme by"}} <a target="_blank" href="https://www.wowthemes.net/themes/category/ghost/">WowThemes.net</a> --}}
{{!--       		</p> --}}
      		<div class="clearfix">
      		</div>
      	</div>
    </div>    

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    <script src="{{asset "js/bootstrap.bundle.min.js"}}"></script>
    <script src="{{asset "search/dist/ghost-finder.js"}}"></script>
    <script>
        new GhostFinder({
            input: '#search-input',
            showResult: '#search-result',
            contentApiKey: 'fbfbf1882eea9e01f774ce20d3',
        })
    </script>
    <script src="{{asset "js/mundana.js"}}"></script>
</body>
</html>