{{!< default}}

{{#tag}}
  <div class="mainheading {{#if feature_image}} homecover {{/if}}" {{#if feature_image}} style="background-image:url({{feature_image}});" {{/if}}>
    <h1 class="sitetitle"><span>{{name}}</span></h1>
    <p class="lead">
    <span>{{#if description}}
    {{description}}
    {{else}}       
    {{plural ../pagination.total empty=(t "A collection of posts") singular=(t "A collection of 1 post") plural=(t "A collection of % posts")}}
    {{/if}}
    </span>
    </p>
  </div>
{{/tag}}

{{!-- Posts by Tag --}}
<div class="row">
  <div class="col-md-8 pr-md-5 allstories">
    <div class="section-title">
    <h2><span class="title">{{t "Stories"}}</span></h2>
    </div>
    <div class="allstories">
    {{#foreach posts}}
       {{> "post-card"}}
    {{/foreach}}
    <div class="clearfix"></div>
    </div>
    {{pagination}}
    {{> "taglist"}}
  </div>
  <div class="col-md-4">
    {{> "featured"}}
  </div>
</div>
